include pyproject.toml
include *.md
include LICENSE
recursive-include tests test*.py
include *.cff
include *.ipynb
include requirements.txt
recursive-include src *.pkl
recursive-include src/harmony/stopwords
include src/harmony/stopwords/ar
include src/harmony/stopwords/az
include src/harmony/stopwords/be
include src/harmony/stopwords/bn
include src/harmony/stopwords/ca
include src/harmony/stopwords/da
include src/harmony/stopwords/de
include src/harmony/stopwords/el
include src/harmony/stopwords/en
include src/harmony/stopwords/es
include src/harmony/stopwords/eu
include src/harmony/stopwords/fi
include src/harmony/stopwords/fr
include src/harmony/stopwords/he
include src/harmony/stopwords/hu
include src/harmony/stopwords/id
include src/harmony/stopwords/it
include src/harmony/stopwords/kk
include src/harmony/stopwords/ne
include src/harmony/stopwords/nl
include src/harmony/stopwords/no
include src/harmony/stopwords/pt
include src/harmony/stopwords/ro
include src/harmony/stopwords/ru
include src/harmony/stopwords/sl
include src/harmony/stopwords/sq
include src/harmony/stopwords/sv
include src/harmony/stopwords/ta
include src/harmony/stopwords/tg
include src/harmony/stopwords/tr
include src/harmony/stopwords/zh
