pydantic>=2.11.3
pandas>=2.2.3
tika>=3.1.0
lxml>=5.4.0
langdetect>=1.0.9
XlsxWriter>=3.2.3
openpyxl>=3.1.5
wget>=3.2
sentence-transformers>=4.1.0
numpy==1.26.4
sklearn-crfsuite>=0.5.0
scikit-learn>=1.6.1
scipy>=1.13.1
huggingface-hub>=0.30.2
sklearn-crfsuite==0.5.0
scipy==1.14.1
torch==2.2.2
transformers==4.50.3
fpdf2~=2.8.2