name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    paths:
      - deployment/file_processor/**
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [ "main" ]
    paths:
      - deployment/file_processor/**
    paths-ignore:
      - '**/README.md'

jobs:

  deploy_source:
    name: deploy lambda from source
    runs-on: ubuntu-latest
    steps:
      - name: checkout source code
        uses: actions/checkout@v1
      - name: default deploy
        uses: appleboy/lambda-action@master
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: ${{ secrets.AWS_REGION }}
          function_name: harmony-parse-file
          source: deployment/file_processor/function.py
